{% extends 'groups/group_base.html' %}

{% block pregroup %}

<h1>{{ group.name }}</h1>
<h2>
	Member Count:{{ group.memebers.count }}
</h2>

<div class="content">

	{% if user in group.member.all %}
	<a class="btn btn-danger" href="{ url 'groups:leave' slug=group.slug }">Leave group</a>
	{% else %}
	<a href="{%url 'groups:join' slug=group.slug %}" class="btn btn-danger"> Joint Group</a>
	{% endif %}

</div>


{% block group_content %}

<div class="col-md-8">
	{% if group.posts.count ==0 %}
	<h2>Be the first one to create a post here </h2>
	{% else %}
	{% for post in group.posts.all %}
		{% include 'posts/_post.html' %}
	{% endfor %}
	{% endif %}

</div>